@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #334155;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select__element {
  max-width: 50%;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 2px solid rgb(100, 116, 139, 0.5);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  outline: none;
}

.selected__default {
  color: rgb(51, 65, 85, 0.5);
}

.select__options {
  color: #334155;
  font-weight: bold;
}